env
models
finetune_output
.DS_Store
node_modules
build
.svelte-kit
package
.vscode
.env
.env.*
backend/dep
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
*.pyc
backend/bert-base-chinese
backend/flagged
backend/tests
makefile