env
models/model_avatars
models
finetune_output
.DS_Store
node_modules
build
.svelte-kit
package
.vscode
.env
.env.*
bert
bert-base-chinese
backend/dep/*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
*.pyc
backend/bert
backend/flagged
backend/tests
makefile
ext
__.*
__bert-base-chinese
roberta-large
output.log
logs