version: '3.9'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pwd
      PGDATA: /data/postgres
      POSTGRES_DB: GONGBU
    volumes:
      - postgres:/data/postgres
      - ./db_init/GONGBU_ps.sql:/docker-entrypoint-initdb.d/GONGBU_ps.sql
    expose:
      - 5432
    ports:
      - "54320:5432"
    networks:
      - default
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.mirror
    expose:
      - 8000
    ports:
      - "8123:8000"
    volumes:
      - ./models:/models
      - ./finetune_output:/finetune_output
      - ./bert-base-chinese:/backend/bert-base-chinese
      - ./logs:/logs
      - /dev/shm:/dev/shm
      - ./sign_up_token:/backend/backend/sign_up_token
      - ./m3e-base:/backend/m3e-base
      - ~/.cache/huggingface/:/root/.cache/huggingface/
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:pwd@db:5432/GONGBU
      - MODEL_PATH=/models
      - SERCET_KEY=secret
      - LOG_PATH=/logs
      - FINETUNE_OUTPUT=/finetune_output
      - DISABLE_IB_P2P=1
      - EMBEDDING_PATH=/backend/m3e-base
      - HF_ENDPOINT=https://hf-mirror.com
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /backend
    networks:
      - default
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.mirror
    ports:
      - "5173:5173"
    depends_on:
      - backend
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /frontend
        - action: rebuild
          path: ./frontend/package.json
    networks:
      - default
  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    expose:
      - 81
    ports:
      - "81:81"
    links:
      - backend
    depends_on:
      - backend
    develop:
      watch:
        - action: rebuild
          path: ./proxy
          target: /proxy
    networks:
      - default

volumes:
  postgres:

networks:
  default:
    name: llmcraft_network
